@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('font/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('font/cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1C244A;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #eee;
}

.container {
    display: flex;
    justify-content: space-around;
}